@model Api_Practise.Models.footballFans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>footballFans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Footballers.club)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Footballers.club)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FootballersID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
